<div class="col-xs-12">
  <a
    href="#"
    style="cursor: pointer;"
    [routerLink]="[index]"
    routerLinkActive="active"
    class="list-group-item clearfix item__link"
  >
    <img
      class="card-img-top"
      [src]="Shopping_item.Image_URL"
      [alt]="Shopping_item.Description"
    />
    <div class="card-body item__description">
      <div class="description__type">{{ type }}</div>
      <div class="description__info">
        <div class="info__name">{{ Shopping_item.SKU }}</div>
        <div class="info__price">{{ Shopping_item.Retail_Price }} грн.</div>
      </div>
    </div>
  </a>
</div>
